.section {
  padding: 3em 4em 0;
  width: 100%;
  min-height: calc(100vh - 3.25rem);
}

.section.hero .columns h1.title {
  color: #faff00;
  font-size: 3em;
  font-family: "Adamina", serif;
  font-weight: 200;
  margin-bottom: 1em;
  line-height: 1.3em;
  overflow: hidden;
}

.title {
  width: 60%;
  font-size: 1.7em;
  line-height: 2.7rem;
  letter-spacing: 0.11em;
}
.image {
  height: 16.5em;
  width: 18em;
  position: relative;
  border: 2px solid black;
  border-radius: 5em 0px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navHero {
  width: 100%;
  max-height: 100vh;
  min-height: calc(100vh - 0.25em);
  /* overflow: hidden; */
  position: relative;
  background-image: url(../../wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--lightBlue);
  background-position: center;
}

.section h6{
  color: #545454;

}