.navHero {
    width: 100%;
    max-height: 100vh;
    min-height: calc(100vh - .25em);
    /* overflow: hidden; */
    position: relative;
    background-image: url(../../wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--lightBlue);
    background-position: center;

}
.navbar {
    min-width: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .navbarItems ul{
    margin: 1em;
}

.navbar .navbarItems li {
    display: inline-block;
    padding: .5rem;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: .5em;
    transition: all .3s ease-in-out;
}
.navbar .navbarItems li:hover {
    border-bottom: 2px solid var(--black);
    cursor: pointer;
}