/* .navHero {
  width: 100%;
  max-height: 100vh;
  min-height: calc(100vh - 0.25em);
  overflow: hidden;
  position: relative;
  background-image: url(../../wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--lightBlue);
  background-position: center;
} */
.navbar {
  min-width: 3.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightBlue);
}

.navbar .navbarItems ul {
  margin: 1em;
}

.navbar .navbarItems li {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  padding-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
}
.navbar .navbarItems li:hover{
  border-bottom: 1px solid red;
  cursor: pointer;
  
}
.linkStyles{
  color: black;
  text-decoration:none;
  padding: 0.5rem;

  /* padding: 0 1em; */
}
.navbar .navbarItems li:hover .linkStyles{
  color: red;
}

.navbarItems.logo {
  font-weight: 500;
  line-height: 1.8125rem;
  /* identical to box height */

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
